<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/style-contact.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <div class="container nav-wrapper">
                <div class="logo-wrapper">
                    <a href="#" class="logo-image"><img src="images/logo.png" alt="SDS_Logo"></a>
                    <a href="#" class="logo-text">PT SARANA DWI SEJAHTERA</a>
                </div>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link"> Home </a></li>
                        <li class="menu-item"><a href="#" class="menu-link"> About </a></li>
                        <li class="menu-item"><a href="#" class="menu-link"> Our Service </a></li>
                        <li class="menu-item actived"><a href="#" class="menu-link active"> Contact </a></li>
                        <li class="menu-item"><a href="#" class="menu-link"> Career </a></li>
                    </ul>
                    <a href="#" class="btn-user"> LOGIN </a>
                </div>
            </div>
        </nav>

        <!-- Header Contact -->
        <section class="header-contact" id="header-contact">
            <div class="container contact-wrapper"></div>
        </section>

        <!-- Contact Content -->
        <section class="contact-content" id="contact-content">
            <div class="container content-wrapper">
                <div class="heading-contact">
                    <p class="contact-text1">Get<span>to Know</span>US...</p>
                    <p class="contact-text2">You can Contact us throught emial, phone number 
                        or just simply visit us. if you need any help, 
                        please let us know by filling the form.
                    </p>
                </div>
                <div class="field-contact">
                    <div class="left-content">
                        <img class="contact-image" src="images/contact-image.png" alt="contact-image">
                        <p class="left-heading">Have a Problem Management 
                            in Mind? <span>Let’s Talk</span>
                        </p>
                    </div>
                    <div class="right-content">
                        <div class="content-phone">
                            <div class="sds-phone">
                                <img class="phone-image" src="images/phone_sds.png" alt="contact-image">
                            </div>
                            <div class="phone-text">
                                <p class="phone-heading">Phone</p>
                                <p class="phone-number">021 - 22733343</p>
                            </div>
                        </div>
                        <div class="content-mail">
                            <div class="sds-phone">
                                <img src="images/mail-sds.png" alt="contact-image">
                            </div>
                            <div class="mail-text">
                                <p class="mail-heading">Mail</p>
                                <p class="mail-adress">pt.dwisejahtera@gmail.com</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <div class="location-tittle">
                                <p class="location-heading">OUR LOCATION :</p>
                            </div>
                            <div class="sds-maps">
                                <div class="sds-location">
                                    <img src="images/location_sds.png" alt="contact-image">
                                </div>
                                <div class="sds-gmpas">
                                    <img src="images/gmaps_sds.png" alt="contact-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FORM SECTION -->
        <section class="form-contact" id="form-contact">
            <div class="container form-wrapper">
                <div class="form-heading">
                    <p class="heading-title">Have a Question ?</p>
                </div>
                <form action="">
                <div class="input-area">
                    <div class="input-left">
                        <div class="field-input">
                            <label for="fullname">Full Name :</label>
                            <input type="text" id="fullname" name="inputText1">
                        </div>
                        <div class="field-input">
                            <label for="mail">Your Mail :</label>
                            <input type="text" id="mail" name="inputText1">
                        </div>
                        <div class="field-input">
                            <label for="subject">Subject :</label>
                            <input type="text" id="subject" name="inputText1">
                        </div>
                    </div>
                    <div class="input-right">
                        <div class="textarea-field">
                            <label for="inputTextarea">Pesan :</label>
                            <textarea id="inputTextarea" name="inputTextarea" rows="4" placeholder=""></textarea>
                        </div>
                        <div class="btn-submit">
                            <a href="#" class="btn-message"> Submit </a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </section>

        <!-- FOOTER SECTION -->
        <Footer class="fotter-content" id="footer-content">
            <div class="container footer-wrapper">
                <div class="footer-menu">
                    <div class="content-left">
                        <div class="content-left-image">
                            <img class="footer-logo-image" src="images/logo.png" alt="logo-icon">
                        </div>
                        <div class="content-left-Text">
                            <p class="footer-heading">PT SARANA DWI SEJAHTERA</p>
                            <p class="footer-text">
                            Was Build and developed by young 
                            professionals who are experienced 
                            in the field of Management
                            </p>
                            <p class="footer-subheading">Working Hours/days</p>
                            <p class="footer-text">Monday - Friday (08.00 - 09.00 WIB)</p>
                        </div>
                        <div class="content-left-social">
                            <img class="footer-facebook-image" src="images/Facebook.png" alt="facebook-icon">
                            <img class="footer-facebook-image" src="images/Instagram.png" alt="instagram-icon">
                            <img class="footer-facebook-image" src="images/TwitterX.png" alt="twitterx-icon">
                            <img class="footer-facebook-image" src="images/LinkedIn.png" alt="linkedin-icon">    
                        </div>
                    </div>
                    <div class="content-middle">
                        <p class="footer-subheading">Contact</p>
                        <p class="footer-text">Jl. Shangrila Raya No.48A, RT.6/RW.3, 
                            Petukangan Sel., Kec. Pesanggrahan, 
                            Kota Jakarta Selatan, Daerah 
                            Khusus Ibukota Jakarta 12270</p>
                        <p class="footer-subheading">Call Us Directly</p>
                        <p class="footer-text">021 - 22733343</p>
                        <p class="footer-subheading">Email Us Directly</p>
                        <p class="footer-text">info@dwisejahtera.com</p>
                    </div>
                    <div class="content-right">
                        <p class="footer-subheading">Service</p>
                        <p class="footer-text-service">Finance</p>
                        <p class="footer-text-service">Accounting</p>
                        <p class="footer-text-service">Tax</p>
                        <p class="footer-text-service">Feseability</p>
                        <p class="footer-text-service">Man Power</p>
                    </div>
                </div>
                <div class="Copyright-footer">
                    @Sarana Dwi Sejahtera 2023. All Rights Reserved.
                </div>
            </div>
            <img class="wa-image" src="images/wa_logo.png" alt="logo-icon">
        </Footer>
    </header>
</body>
</html>