<!-- FOOTER SECTION -->
<Footer class="fotter-content" id="footer-content">
    <div class="container footer-wrapper">
        <div class="footer-menu">
            <div class="content-left">
                <div class="content-left-image">
                    <img class="footer-logo-image" src="images/logo.png" alt="logo-icon">
                </div>
                <div class="content-left-Text">
                    <p class="footer-heading">PT SARANA DWI SEJAHTERA</p>
                    <p class="footer-text">
                        Was Build and developed by young
                        professionals who are experienced
                        in the field of Management
                    </p>
                    <p class="footer-subheading">Working Hours/days</p>
                    <p class="footer-text">Monday - Friday (08.00 - 09.00 WIB)</p>
                </div>
                <div class="content-left-social">
                    <img class="footer-facebook-image" src="images/Facebook.png" alt="facebook-icon">
                    <img class="footer-facebook-image" src="images/Instagram.png" alt="instagram-icon">
                    <img class="footer-facebook-image" src="images/TwitterX.png" alt="twitterx-icon">
                    <img class="footer-facebook-image" src="images/LinkedIn.png" alt="linkedin-icon">
                </div>
            </div>
            <div class="content-middle">
                <p class="footer-subheading">Contact</p>
                <p class="footer-text">Jl. Shangrila Raya No.48A, RT.6/RW.3,
                    Petukangan Sel., Kec. Pesanggrahan,
                    Kota Jakarta Selatan, Daerah
                    Khusus Ibukota Jakarta 12270</p>
                <p class="footer-subheading">Call Us Directly</p>
                <p class="footer-text">021 - 22733343</p>
                <p class="footer-subheading">Email Us Directly</p>
                <p class="footer-text">info@dwisejahtera.com</p>
            </div>
            <div class="content-right">
                <p class="footer-subheading">Service</p>
                <p class="footer-text-service">Finance</p>
                <p class="footer-text-service">Accounting</p>
                <p class="footer-text-service">Tax</p>
                <p class="footer-text-service">Feseability</p>
                <p class="footer-text-service">Man Power</p>
            </div>
        </div>
        <div class="Copyright-footer">
            @Sarana Dwi Sejahtera 2023. All Rights Reserved.
        </div>
    </div>
    <img class="wa-image" src="images/wa_logo.png" alt="logo-icon">
</Footer>
</div>
