@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&family=Roboto:wght@400;700&display=swap');

:root {
    --main-color : #E79231;
    --second-color: #201F1F;

    --main-font: font-family: 'Kanit', sans-serif;
    --second-font: font-family: 'Roboto', sans-serif;
}

body {
    background-color:white;
    font-family: var(--main-font); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1500px;
}

/* Navbar SECTION */

.navbar {
    background-color : rgba(32, 31, 31, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000; 
}

.navbar .nav-wrapper {
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
}

/* Logo Navbar*/

.nav-wrapper .logo-wrapper {
    display:flex;
    align-items:center;
}

.nav-wrapper .logo-wrapper .logo-text {
    font-size: 1.25rem;
    font-family: var(--main-font);
    font-weight: 600;
    color: #D8E1F2;
    padding: 5px;
}

/* Menu Navbar */

.nav-wrapper .menu-wrapper{
    display: flex;
    gap: 110px;
    align-items: center;
}

.nav-wrapper .menu-wrapper .menu{
    display: flex;
    align-items:center;
    gap: 60px;
}

.menu-wrapper .menu .menu-item {
    padding: 6px 10px;
}

/* Border li active*/

li.actived{
    border-bottom: 3px solid #E79231;
}


/* Menu Link */
.menu-wrapper .menu .menu-item .menu-link {
    font-size: 1rem;
    font-family: var(--main-font);
    color: #D8E1F2;
    font-weight: 500;
}

.menu-wrapper .menu .menu-link:hover {
    color: var(--main-color );
}

.menu-wrapper .menu .menu-item .active {
    font-weight: 700;
    color: var(--main-color );
}

/* Button style */
.menu-wrapper .btn-user {
    font-family: var(--main-font);
    font-size: 1rem;
    color: #D8E1F2;
    text-align:center;
    font-weight:500;
    padding: 11px 40px;
    border: 3px solid #E79231;
    border-radius: 10px;
}

.btn-user:hover {
    color: #D3E1F0;
    background-color: #E79231;
}


/* JOB HEADER CONTENT */

.header {
    /* background-color: white; */
    height: 655px;
    box-sizing: border-box;
    background-image: url('../images/about_frame.png');
    background-repeat: no-repeat;
    /* background-position: bottom left; */
    background-size: cover;
}

.header .header-container {
    /* background-color: blue; */
    height:655px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center; /*Pusatkan elemen secara vertikal/y*/
}

.heading .header-heading {
    color: #E79231;
    font-family: var(--main-font);
    font-size: 46px;
    font-weight: 600;
    text-decoration-line: underline;
    margin: 8px 46px;
}

.heading .header-subheading {
    color: #FFF;
    font-family: var(--second-font);
    font-size: 16px;
    font-style: normal; 
    font-weight: 400;
    line-height: normal;
    margin: 8px 46px;
}


/* ABOUT SDS */

.about-sds {
    background-color: white;
    box-sizing: border-box;
    height: 800px;
    background-image: url('../images/Line_about.png');
    background-repeat: no-repeat;
    background-position: right 150px;
    /* padding-top: 50px; */
    /* background-size: cover; */
}

.about-sds .header-about {
    /* background-color: blue; */
    height:888px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.header-about .about-left {
    width: 633px;
    height: 680px;
    /* background-color:yellowgreen; */
}

.header-about .about-left .about-image {
    margin: 80px 50px;
}

.header-about .about-right {
    width: 481px;
    height: 680px;
    /* background-color:yellowgreen; */
    /* display: relative; */
}

.history-heading .histori-text{
    text-align: justify;
    line-height: 25px;
    margin-top: 23px;
    margin-bottom: 10px;
}

.history-heading .history-head {
    color: #E79231; 
    font-family: Kanit;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
}

.about-right .purpose-sds{
    border: 1px solid #BFBEBE;
    background: #BFBEBE;
    width: 480px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.purpose-sds .heading-purpose {
    padding-left : 16px;
}

.purpose-sds .heading-text {
    color: #070B0F;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-purpose .sds-purpose {
    display: none;
    color: #201F1F;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal; 
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.about-right .moto-sds{
    border: 1px solid #BFBEBE;
    background: #BFBEBE;
    width: 480px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

/* EFECCT */

.icon-purpose {
    /* display: inline-block;
    position: relative; */
    cursor: pointer;
}

.icon-purpose img {
    transition: transform 0.5s;
}

.icon-moto {
    /* display: inline-block;
    position: relative; */
    cursor: pointer;
}

.icon-moto img {
    transition: transform 0.5s;
}

.purpose-sds .heading-moto {
    padding-left : 16px;
}

.text-moto .sds-moto {
    display: none;
    color: #201F1F;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal; 
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.heading-moto .moto-mainheading {
    color: #070B0F;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.moto-sds .heading-moto {
    padding-left : 16px;
}


/* PRINCIPLE WORKING STYLE */

.principle {
    background-color: blue;
    box-sizing: border-box;
    height: 511px;
}

.principle .header-container {
    background-color: grey;
    height: 511px;
    margin: auto;
}

.principle-heading .principle-tittle {
    color: #201F1F;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 8px;
    /* margin: auto 205px; */
}

.principle-heading .principle-desc {
    color: #201F1F;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.principle-heading .principle-tittle span {
    color: #E79231;
    text-decoration-line: underline;
}

.header-container .principle-value {
    width:1175px;
    height: 296px;
    background-color: red;
    margin top: 70px;
}

/* FOOTER CONTENT */

.fotter-content {
    background-color: var(--second-color);
    height: 450px;
    box-sizing: border-box;
    position: relative;
}

.fotter-content .footer-wrapper {
    /* background-color: blue; */
    display: flex;
    justify-content: center;   /*Pusatkan elemen secara horizontal/x */
    align-items: center; /*Pusatkan elemen secara vertikal/y*/
    height:450px;
    margin: auto;
    box-sizing: border-box;
    flex-direction:column;
    gap:40px;
}

.fotter-content .wa-image {
    position:absolute;
    right: 100px;
    bottom: 50px;
}

.fotter-content .footer-wrapper .footer-menu{
    display: flex;
    /* background-color: yellowgreen; */
    box-sizing: border-box;
    /* width:50%; */
    gap:  215px;
    /* flex-direction: column; */
}

.footer-menu .content-left{
    /* background-color: pink; */
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center; /*Pusatkan elemen secara vertikal/y*/
}

.content-left .footer-logo-image{
    /* width: 67px; */
    margin: 10px 90px;
}

.footer-heading {
    color: #D8E1F2;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 9px;
}

.footer-text{
    color: #FFF;
    font-family: var(--second-font);
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 23px;
    line-height: normal;
}

.footer-subheading {
    color: #FFF;
    font-family: var(--second-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom:8px;
}

.footer-text-service{
    color: #FFF;
    font-family: var(--second-font);
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 8px;
    line-height: normal;
}

.footer-menu .content-middle{
    width: 245px;
}

.footer-menu .content-right{
    width: 245px;
}

.footer-wrapper .Copyright-footer {
    color: var(--main-color);
    text-align: center;
    font-family: var(--second-font);
    font-size: 16px;
    font-weight: 700;
    margin: 25px;
}