/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* Main Configuration */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&family=Roboto:wght@400;700&display=swap');

:root {
  --main-color: #E79231;
  --second-color: #201F1F;

  --main-font: font-family: 'Kanit', sans-serif;
  --second-font: font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
  font-family: var(--main-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* section{
  margin-top: 200px;
} */

.container {
  max-width: 1500px;
}

/* Navbar SECTION */

.navbar {
  background-color: var(--second-color);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar .nav-wrapper {
  /* position: relative; */
  /* background-color: violet; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

/* Logo Navbar*/

.nav-wrapper .logo-wrapper {
  /* background-color:blue; */
  display: flex;
  align-items: center;
}

.nav-wrapper .logo-wrapper .logo-text {
  font-size: 1.25rem;
  font-family: var(--main-font);
  font-weight: 600;
  color: #D8E1F2;
  padding: 5px;
}

/* Menu Navbar */

.nav-wrapper .menu-wrapper {
  display: flex;
  gap: 110px;
  /* background-color: white; */
  align-items: center;
}

.nav-wrapper .menu-wrapper .menu {
  display: flex;
  align-items: center;
  gap: 60px;
  /* background-color: yellowgreen; */
}

.menu-wrapper .menu .menu-item {
  /* background-color: grey; */
  padding: 6px 10px;
}

/* Border li active*/

li.actived {
  border-bottom: 3px solid #E79231;
}


/* Menu Link */
.menu-wrapper .menu .menu-item .menu-link {
  font-size: 1rem;
  font-family: var(--main-font);
  color: #D8E1F2;
  font-weight: 500;
}

/* .menu-wrapper .menu:hover .menu-item {
  border-bottom: 3px solid #E79231;
} */

/* .menu-wrapper .menu .menu-item:hover {
  border-bottom: 3px solid #E79231;
} */

.menu-wrapper .menu .menu-link:hover {
  /* font-weight: 700; */
  color: var(--main-color);
}

/* .menu-wrapper .menu .menu-item:hover {
  border-bottom: 3px solid #E79231;
} */

.menu-wrapper .menu .menu-item .active {
  font-weight: 700;
  color: var(--main-color);
}

/* Button style */
.menu-wrapper .btn-user {
  font-family: var(--main-font);
  font-size: 1rem;
  color: #D8E1F2;
  text-align: center;
  font-weight: 500;
  padding: 11px 40px;
  border: 3px solid #E79231;
  border-radius: 10px;
}

.btn-user:hover {
  color: #D3E1F0;
  background-color: #E79231;
}

/* SECTION HOME */

.home {
  background-color: var(--second-color);
  margin: auto;
  height: 700px;
  display: flex;
  justify-content: center;
  /* Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  box-sizing: border-box;
  justify-content: space-around;
}

.home .image-cover {
  width: 100%;
  height: auto;
  display: block;
}


.home .flex-container {
  display: flex;
  gap: 8px;
  /* Atur jarak antar item */
  position: absolute;
  margin: 50px 50px;
}

/* Atur gaya flex item */
.flex-item {
  /* background-color: black; */
  color: #fff;
  box-sizing: border-box;
  width: 586px;
  height: 494px;
  text-align: center;
  /* Pusatkan teks dalam setiap item */
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  flex-basis: 20%;
  /* 20% dari lebar container*/
  box-sizing: border-box;
}

.item1 .image-middle1 {
  margin-left: 20px;
}

/* Item 2 cover */

.item2 {
  flex-basis: 60%;
  /* 20% dari lebar container*/
  background-image: url('../images/arrow-up.png');
  background-position: right 15px;
  background-repeat: no-repeat;
  text-align: left;
  position: relative;
}

.item2 .bubble {
  position: absolute;
  width: 185px;
  height: 185px;
  left: 40px;
  top: 70px;
  background-color: rgba(231, 146, 49, 0.20);
  opacity: 0.5;
  border-radius: 50%;
}

.item2 .title-box {
  margin: auto 50px;
}

.item2 .title-box .paragraph-one {
  font-family: var(--main-font);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  margin: 20px 0px;
}

.item2 .title-box .paragraph-two {
  font-family: var(--second-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
}

.item2 .title-box .btn-contact {
  font-family: var(--main-font);
  font-size: 1rem;
  color: #D8E1F2;
  text-align: center;
  font-weight: 500;
  display: inline-flex;
  padding: 14px 71px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 3px solid #E79231;
}

.btn-contact:hover {
  color: #D3E1F0;
  background-color: #E79231;
}

/* Item 2 text color */

.orange-text {
  color: #E79231;
  text-decoration: underline;
}

.white-text {
  text-decoration: underline;
}

.item3 {
  flex-basis: 20%;
  /* 20% dari lebar container*/
  box-sizing: border-box;
}

.item3 .image-middle3 {
  /* position: absolute; */
  margin-right: 30px;
}

/* SECTION SEVICES */
.service {
  background-color: var(--second-color);
  height: 900px;
  box-sizing: border-box;
  width: auto;
  background-image: url('../images/Vector_background.png');
  background-repeat: no-repeat;
  background-position: center 1px;
  background-size: cover;
}

.service .service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  height: 900px;
  margin: auto;
  box-sizing: border-box;
  gap: 90px;
}

.title-services {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.title-services span {
  color: var(--main-color);
  text-decoration: underline;
}

.service-one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  gap: 217px;
  /*height: 150px;  Sesuaikan tinggi sesuai kebutuhan Anda */
}

.service-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  gap: 217px;
}

.box {
  background-color: var(--second-color);
  width: 243px;
  height: 171px;
  border-radius: 15px;
  box-shadow: 0px 4px 30px 0px #BFBEBE;
  text-align: center;
  /* Pusatkan teks jika diinginkan */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box .service-image {
  width: 55px;
  height: 55px;
}

.box .service-paragraph1 {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box .service-paragraph2 {
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.box:hover {
  width: 243px;
  height: 243px;
  border-radius: 15px;
  background: #E79231;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
  /* transition: width 1s, height 1s; */
}

.box:hover .service-image {
  width: 65px;
  height: 65px;
  /* transition: width 1s, height 1s; */
}

.box:hover .service-paragraph1 {
  color: #201F1F;
  padding: 10px 10px;
}

.box:hover .service-paragraph2 {
  display: none;
}

/* Arrow services */
.box .arrow-image {
  display: none;
}

.box .service-paragraph3 {
  display: none;
}

.box:hover .arrow-image {
  display: block;
}

.box:hover .service-paragraph3 {
  display: block;
  color: rgba(249, 246, 246, 0.50);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* SECTION EXPERIENCE */

.experience {
  background-color: var(--second-color);
  height: 607px;
  box-sizing: border-box;
  /* width: auto; */
  background-image: url('../images/experience-background.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  /* background-size: cover; */
}

.experience .experience-container {
  display: flex;
  justify-content: center;
  /* Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  height: 607px;
  margin: auto;
  box-sizing: border-box;
  gap: 72px;
}

.column1 {
  width: 550px;
}

.column1 .experience-paragraph1 {
  width: 480px;
  color: #FDF9F9;
  text-align: justify;
  font-family: var(--main-fon);
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}

.column1 .experience-paragraph1 span {
  color: #E79231;
  text-decoration-line: underline;
}

.column1 .experience-paragraph2 {
  /* width: 480px; */
  color: #FFF;
  font-family: Roboto;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.column2 {
  width: 550px;
}

/* SECTION BANNER HOME */

.banner-home {
  background-color: var(--second-color);
  height: 503px;
  box-sizing: border-box;
  /* width: auto; */
  background-image: url('../images/banner-home.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-home .banner-container {
  display: flex;
  justify-content: center;
  /*Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  height: 503px;
  /* background-color: blue; */
  margin: auto;
  box-sizing: border-box;
  flex-direction: column;
  gap: 40px;
}

.btn-banner {
  font-family: var(--main-font);
  font-size: 16px;
  color: #FFFEFC;
  font-weight: 700;
  padding: 18px 48px;
  background-color: #E79231;
  border-radius: 10px;
  margin: 15px 10px;
}

.banner-content .banner-title span {
  color: #E79231;
  text-decoration-line: underline;
}

.banner-title {
  color: #FFF;
  text-align: center;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 393px;
  /* height: 90px; */
  margin: 15px 10px;
}

.banner-text {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 393px;
  margin: 15px 10px;
}

/* START CAREER */
/* JOB HEADER CONTENT */

.header {
  /* background-color: white; */
  height: 655px;
  box-sizing: border-box;
  background-image: url('../images/career_frame.png');
  background-repeat: no-repeat;
  /* background-position: bottom left; */
  background-size: cover;
}

.header .header-container {
  /* background-color: blue; */
  height: 655px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
}

.heading .header-heading {
  color: #E79231;
  font-family: var(--main-font);
  font-size: 46px;
  font-weight: 600;
  text-decoration-line: underline;
  margin: 8px 46px;
}

.heading .header-subheading {
  color: #FFF;
  font-family: var(--second-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 8px 46px;
}


/* JOB VACANCY CONTENT */

.apply-job {
  background-color: white;
  height: 1000px;
  box-sizing: border-box;
}

.apply-job .apply-container {
  height: 1000px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /*Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
}

.apply-container .column1 {
  width: 677px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  box-sizing: border-box
}

.apply-container .column2 {
  background: #D9D9D9;
  width: 627px;
  height: 635px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  box-sizing: border-box;
  gap: 50px;
  border-radius: 10px;
}

.career-image {
  margin: 10px 45px;
}

.career-heading {
  color: #000;
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
  width: 400px;
  margin: 10px 45px;
}

.career-heading span {
  color: #E58D24;
}

.vacancy-heading {
  color: #000;
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
}

.vacancy-subheading {
  color: #000;
  font-family: var(--second-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
}

.vacancy-criteria {
  color: #000;
  font-family: var(--second-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-apply {
  font-family: var(--main-font);
  font-size: 16px;
  color: #FFFEFC;
  font-weight: 700;
  padding: 18px 80px;
  background-color: #E79231;
  border-radius: 10px;
}

/* SECTION HOW TO APPLY */

.apply-process {
  height: 526px;
  box-sizing: border-box;
}

.apply-process .procedur-container {

  height: 526px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  box-sizing: border-box;
}

.procedur-heading {
  color: #201F1F;
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 35px 30px;
}

.procedur-heading span {
  color: #E79231;
}

.procedur-subheading {
  color: #201F1F;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 400;
}

.procedur-container .procedur-flow {
  display: flex;
  justify-content: center;
  /*Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  gap: 160px;
}

.procedur-flow .flow-apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  gap: 7px;
}

.procedur-flow .flow-apply .flow-image {
  width: 110px;
  height: 110px;
  background-color: #E79231;
  border-radius: 50%;
  text-align: center;
}

.procedur-flow .flow-image .search-image {
  margin: 21px 21px;
}

.procedur-flow .flow-heading .heading-content {
  color: #201F1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.procedur-flow .flow-subheading .subheading-content {
  color: #201F1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 205px;
  height: 38px;
}

/* END CAREER */

/* START ABOUT */
/* ABOUT SDS */

.about-sds {
  background-color: white;
  box-sizing: border-box;
  height: 800px;
  background-image: url('../images/Line_about.png');
  background-repeat: no-repeat;
  background-position: right 150px;
  /* padding-top: 50px; */
  /* background-size: cover; */
}

.about-sds .header-about {
  /* background-color: blue; */
  height: 888px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.header-about .about-left {
  width: 633px;
  height: 680px;
  /* background-color:yellowgreen; */
}

.header-about .about-left .about-image {
  margin: 80px 50px;
}

.header-about .about-right {
  width: 481px;
  height: 680px;
  /* background-color:yellowgreen; */
  /* display: relative; */
}

.history-heading .histori-text {
  text-align: justify;
  line-height: 25px;
  margin-top: 23px;
  margin-bottom: 10px;
}

.history-heading .history-head {
  color: #E79231;
  font-family: Kanit;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}

.about-right .purpose-sds {
  border: 1px solid #BFBEBE;
  background: #BFBEBE;
  width: 480px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.purpose-sds .heading-purpose {
  padding-left: 16px;
}

.purpose-sds .heading-text {
  color: #070B0F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-purpose .sds-purpose {
  display: none;
  color: #201F1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.about-right .moto-sds {
  border: 1px solid #BFBEBE;
  background: #BFBEBE;
  width: 480px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* EFECCT */

.icon-purpose {
  /* display: inline-block;
  position: relative; */
  cursor: pointer;
}

.icon-purpose img {
  transition: transform 0.5s;
}

.icon-moto {
  /* display: inline-block;
  position: relative; */
  cursor: pointer;
}

.icon-moto img {
  transition: transform 0.5s;
}

.purpose-sds .heading-moto {
  padding-left: 16px;
}

.text-moto .sds-moto {
  display: none;
  color: #201F1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.heading-moto .moto-mainheading {
  color: #070B0F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.moto-sds .heading-moto {
  padding-left: 16px;
}


/* PRINCIPLE WORKING STYLE */

.principle {
  background-color: blue;
  box-sizing: border-box;
  height: 511px;
}

.principle .header-container {
  background-color: grey;
  height: 511px;
  margin: auto;
}

.principle-heading .principle-tittle {
  color: #201F1F;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 8px;
  /* margin: auto 205px; */
}

.principle-heading .principle-desc {
  color: #201F1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.principle-heading .principle-tittle span {
  color: #E79231;
  text-decoration-line: underline;
}

.header-container .principle-value {
  width: 1175px;
  height: 296px;
  background-color: red;
  margin-top: 70px;
}

/* END ABOUT */

/* START CONTACT */
/* Header Contact */

.header-contact {
  background-color: var(--second-color);
  height: 592px;
  box-sizing: border-box;
  background-image: url('../images/sound.png');
  background-repeat: no-repeat;
  background-position: 55px bottom;
}

.header-contact .contact-wrapper {
  /* background-color: blue; */
  height:592px;
  margin: auto;
  box-sizing: border-box;
  /* display: flex;
  align-items: center; Pusatkan elemen secara vertikal/y */
  background-image: url('../images/contact_tittle.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Contact Content */

.contact-content {
  background-color: #FFF;;
  /* width: 1512px; */
  height: 1137px;
  box-sizing: border-box;
}



.contact-content .content-wrapper {
  /* background-color: blue; */
  height:1137px;
  margin: auto;
  display:flex;
  /*justify-content: center;   Pusatkan elemen secara horizontal/x */
  align-items: center; /*Pusatkan elemen secara vertikal/y*/
  flex-direction: column;
  box-sizing: border-box;
}

.heading-contact .contact-text1{
  color: #181B20;
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 22px;
  margin-left: 629px;
  margin-right: 629px;
  text-align: center;
}

.heading-contact .contact-text1 span {
  color: #E79231;
  text-decoration-line: underline;
}

.heading-contact .contact-text2{
  width: 569px;
  color: #201F1F;
  text-align: center;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-left: 629px;
  margin-right: 629px;
  margin-bottom: 22px;
}

.content-wrapper .field-contact {
  /* background-color: red; */
  display: flex;
  width: 1180px;
  height: 914px;
  box-sizing: border-box;
  justify-content: space-between;   /*Pusatkan elemen secara horizontal/x */
  align-items: center; /*Pusatkan elemen secara vertikal/y*/
  gap: 104px;
}

.field-contact .left-content{
  /* background-color: yellowgreen; */
  height: 914px;
  width: 480px;
}

.field-contact .left-content .contact-image {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.field-contact .left-content .left-heading {
  color: #201F1F;
  font-family: var(--main-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 10px;
}

.field-contact .left-content .left-heading span {
  color: #E79231;
  text-decoration-line: underline;
}

.field-contact .right-content{
  /* background-color: yellowgreen; */
  height: 914px;
  width:596px;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  gap: 10px; 
}

.right-content .content-phone {
  border-radius: 25px;
  background: #D7E5EF;
  display:flex;
  justify-content: center;
  align-items: center; 
  width: 564px;
  height:205px;
  gap: 50px;
}

.content-phone .phone-heading{
  color: #201F1F;
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-align: left;
  width: 256px;
}

.content-phone .phone-number {
  color: #E79231;
  text-align: left;
  font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 256px;
}

.content-phone .phone-text {
  margin: 5px 5px;
}

.right-content .content-mail {
  border-radius: 25px;
  background: #D7E5EF;
  display:flex;
  justify-content: center;
  align-items: center; 
  width: 564px;
  height:205px;
  gap: 50px;
}

.content-mail .mail-heading {
  color: #201F1F;
  text-align: center;
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
  text-decoration-line: underline;
  text-align: left;
}

.content-mail .mail-adress {
  color: #E79231;
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
}

.right-content .content-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content-location .location-tittle .location-heading {
  color: #201F1F;
  text-align: center;
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 10px;
  /* marging-left: */
}

.content-location .sds-maps {
  display: flex;

}




/* FORM CONTACT */
.form-contact {
  background-color: #423F3F;
  /* width: 1512px; */
  height: 326px;
  box-sizing: border-box;
}

.form-contact .form-wrapper {
  /* background-color: blue; */
  height: 326px;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* gap: 50px 10px; */
}

.form-heading .heading-title {
  color: #E79231;
  font-family: Kanit;
  font-size: 30px;
  font-weight: 700;
  margin-left: 39px;
  /* text-align: center; */
}

.form-wrapper .input-area{
  display: flex;
  /* background-color:yellowgreen; */
  width: 980px;
  height: 203px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.input-area .input-left{
  /* background-color: blue; */
}

.input-left .field-input{
  margin: 15px;
  display:flex;
  gap:50px;
}

.input-left .field-input input{
  width: 201px;
  height: 27px;
  border-radius: 3px;
  background: #D9D9D9;
}

.input-left .field-input label{
  width: 109px;
  border-radius: 3px;
  color: #FFF;
  text-align: left;
  font-family: Kanit;
  font-size: 20px;
  font-weight: 700;
}

.input-right .textarea-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-right .textarea-field textarea {
  width: 365px;
  height: 80px;
  background: #D9D9D9;
  border-radius: 3px;
}

.input-right .textarea-field label {
  color: #FFF;
  text-align: left;
  font-family: Kanit;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.input-area .btn-submit{
  background-color:#E79231;
  text-align: center;
  padding: 6px 54px;
  font-family: var(--main-font);
  font-size: 16;
  font-weight:700;
  border-radius: 10px;
  margin-top: 5px;
}

.menu-wrapper .btn-submit .btn-message {
  font-family: var(--main-font);
  font-size: 16;
  color: #FFFEFC;
  text-align:center;
  font-weight:700;
  padding: 6px 54px;
  background-color:#E79231;
  border-radius: 10px;
}
/* END CONTACT */

/* FOOTER CONTENT */

.fotter-content {
  background-color: var(--second-color);
  height: 450px;
  box-sizing: border-box;
  /* overflow: hidden; */
  position: relative;
}

.fotter-content .footer-wrapper {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  /*Pusatkan elemen secara horizontal/x */
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
  height: 450px;
  margin: auto;
  box-sizing: border-box;
  flex-direction: column;
  gap: 40px;
}

.fotter-content .wa-image {
  position: absolute;
  right: 100px;
  bottom: 50px;
}

.fotter-content .footer-wrapper .footer-menu {
  display: flex;
  /* background-color: yellowgreen; */
  box-sizing: border-box;
  /* width:50%; */
  gap: 215px;
  /* flex-direction: column; */
}

.footer-menu .content-left {
  /* background-color: pink; */
  width: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Pusatkan elemen secara vertikal/y*/
}

.content-left .footer-logo-image {
  /* width: 67px; */
  margin: 10px 90px;
}

.footer-heading {
  color: #D8E1F2;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 9px;
}

.footer-text {
  color: #FFF;
  font-family: var(--second-font);
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 23px;
  line-height: normal;
}

.footer-subheading {
  color: #FFF;
  font-family: var(--second-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
}

.footer-text-service {
  color: #FFF;
  font-family: var(--second-font);
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 8px;
  line-height: normal;
}

.footer-menu .content-middle {
  /* background-color: pink; */
  width: 245px;
}

.footer-menu .content-right {
  /* background-color: pink; */
  width: 245px;
}

.footer-wrapper .Copyright-footer {
  color: var(--main-color);
  text-align: center;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 700;
  margin: 25px;
}

/* Media Query */

@media screen and (max-width: 991px) {

  .navbar .nav-wrapper {
    padding: 0 20px;
  }

  .nav-wrapper .logo-wrapper .logo-text {
    font-size: 15px;
  }

  .nav-wrapper .menu-wrapper {
    gap: 50px;
  }

  .nav-wrapper .menu-wrapper .menu {
    gap: 40px;
  }

  .menu-wrapper .menu .menu-item .menu-link {
    font-size: 11px;
  }

  .menu-wrapper .btn-user {
    font-size: 11px;
    padding: 7px 20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar .nav-wrapper {
    justify-content: center;
  }

  .nav-wrapper .logo-wrapper {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-wrapper .menu-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .nav-wrapper .menu-wrapper .menu {
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
    gap: 0px;
  }

  .menu-wrapper .menu .menu-item {
    background-color: grey;
    text-align: center;
    padding: 23px 160px;
    border-bottom: 3px solid #E79231;
    width: 100%;
  }

  .menu-wrapper .menu .menu-item .menu-link {
    font-size: 20px;
  }

  .menu-wrapper .btn-user {
    width: 161px;
    height: 40px;
    margin: 15px;
    background-color: #E79231;
    border-radius: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

}