<%- include('../partials/header') %>
<%- include('../partials/endheader') %>
    <!-- LOGIN PAGE -->
    <section class="header-login" id="header-login">
        <div class="login-wrapper">
            <div class="login-left-side">
                <div class="login-logo-image">
                    <img src="/images/sds_login_logo.png" alt="login-logo">
                </div>
                <div class="people-logo-image">
                    <img src="/images/man_login.png" alt="login-people">
                </div>
            </div>
            <div class="login-right-side">
                <div class="login-heading">
                <p class="login-welcome">Welcome <span>Back,</span></p>
                </div>
                <div class="login-form">
                    <div class="login-form-username">
                        <label for="username">Username :</label>
                        <input type="text" id="username" name="inputText1">    
                    </div>
                    <div class="login-form-password">
                        <label for="password">Password :</label>
                        <input type="password" id="password" name="inputText1">    
                    </div>
                </div>
                <div class="login-button">
                    <p class="login-button-text">LOGIN</p>
                </div>
            </div>
        </div>
    </section>
<%- include('../partials/end') %>