<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/style-career.css">
    <!-- <script src="javascripts/header.js"></script> -->
    <title>PT Sarana Dwi Sejahtera</title>
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <script src="javascripts/header.js"></script>
            <div class="container nav-wrapper">
                <div class="logo-wrapper">
                    <a href="#" class="logo-image"><img src="images/logo.png" alt="SDS_Logo"></a>
                    <a href="#" class="logo-text">PT SARANA DWI SEJAHTERA</a>
                </div>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link"> Home </a></li>
                        <li class="menu-item"><a href="#" class="menu-link"> About </a></li>
                        <li class="menu-item"><a href="#" class="menu-link"> Our Service </a></li>
                        <li class="menu-item"><a href="#" class="menu-link"> Contact </a></li>
                        <li class="menu-item actived"><a href="#" class="menu-link active"> Career </a></li>
                    </ul>
                    <a href="#" class="btn-user"> LOGIN </a>
                </div>
            </div>
        </nav>

            <!-- Background Header -->
        <section class="header" id="header">
            <div class="container header-container">
                <div class="heading">
                    <p class="header-heading">JOIN WITH US...</p>
                    <p class="header-subheading">Let's Grow up Together</p>
                </div>
            </div>
        </section>

            <!-- JOB VACANCY-->
            <section class="apply-job" id="apply-job">
                <div class="container apply-container">
                    <div class="column1">
                        <img class="career-image" src="images/career_image.png" alt="career-image">
                        <p class="career-heading">
                            The working principle 
                            that keeps us <span>in tune...</span>
                        </p>
                    </div>
                    <div class="column2">
                        <div class="column2-heading">
                            <p class="vacancy-heading">Akuntansi & Perpajakan STAFF</p>
                        </div>
                        <div class="column2-criteria">
                            <p class="vacancy-subheading">Karyawan dengan kualifikasi:</p>
                            <p class="vacancy-criteria">>> Jenis Kelamin: Laki - laki/Perempuan</p>
                            <p class="vacancy-criteria">>> Umur Maksimal: 25 Tahun</p>
                            <p class="vacancy-criteria">>> Pendidikan Minimal: D3/S1 Akuntansi & Perpajakan</p>
                            <p class="vacancy-criteria">>> Lokasi Kerja: Jakarta Selatan</p>
                            <p class="vacancy-subheading">Magang dengan kualifikasi:</p>
                            <p class="vacancy-criteria">>> Jenis Kelamin: Laki - laki/Perempuan</p>
                            <p class="vacancy-criteria">>> Umur Maksimal: 20 Tahun</p>
                            <p class="vacancy-criteria">>> Pendidikan Minimal: SMK Akuntansi</p>
                            <p class="vacancy-criteria">>> Lokasi Kerja: Jakarta Selatan</p>
                        </div>
                        <div class="column2-btn">
                            <a href="#" class="btn-apply"> APPLY </a>
                        </div>                  
                    </div>
                </div>
            </section>

            <!-- HOW TO APPLY SECTION -->
            <section class="apply-process" id="apply-process">
                <div class="container procedur-container">
                <div class="procedur-title">
                    <p class="procedur-heading">How To <span>Apply</span></p>
                    <p class="procedur-subheading">Welcome, Follow this Steps to be a part of SDS</p>
                </div>
                <div class="procedur-flow">
                    <div class="flow-apply">
                        <div class="flow-image">
                            <img class="search-image" src="images/Search.png" alt="search-image">
                        </div>
                        <div class="flow-heading">
                            <p class="heading-content">Available Possition</p>
                        </div>
                        <div class="flow-subheading">
                            <p class="subheading-content">Find Available Possition</p>
                        </div>
                    </div>
                    <div class="flow-apply">
                        <div class="flow-image">
                            <img class="search-image" src="images/Submit-Approval.png" alt="search-image">
                        </div>
                        <div class="flow-heading">
                            <p class="heading-content">Klik Apply Button</p>
                        </div>
                        <div class="flow-subheading">
                            <p class="subheading-content">Klik Apply if you find available possition with you</p>
                        </div>
                    </div>
                    <div class="flow-apply">
                        <div class="flow-image">
                            <img class="search-image" src="images/Multiple_Choice.png" alt="search-image">
                        </div>
                        <div class="flow-heading">
                            <p class="heading-content">Feel the data </p>
                        </div>
                        <div class="flow-subheading">
                            <p class="subheading-content">Feel Every data in the form</p>
                        </div>
                    </div>
                    <div class="flow-apply">
                        <div class="flow-image">
                            <img class="search-image" src="images/Assessments.png" alt="search-image">
                        </div>
                        <div class="flow-heading">
                            <p class="heading-content">Selection</p>
                        </div>
                        <div class="flow-subheading">
                            <p class="subheading-content">make sure your feel the contact 
                                of you is right & still working.
                                so we can contact you.</p>
                        </div>
                    </div>
                </div>
                </div>
            </section>

        <!-- FOOTER SECTION -->
        <Footer class="fotter-content" id="footer-content">
            <div class="container footer-wrapper">
                <div class="footer-menu">
                    <div class="content-left">
                        <div class="content-left-image">
                            <img class="footer-logo-image" src="images/logo.png" alt="logo-icon">
                        </div>
                        <div class="content-left-Text">
                            <p class="footer-heading">PT SARANA DWI SEJAHTERA</p>
                            <p class="footer-text">
                            Was Build and developed by young 
                            professionals who are experienced 
                            in the field of Management
                            </p>
                            <p class="footer-subheading">Working Hours/days</p>
                            <p class="footer-text">Monday - Friday (08.00 - 09.00 WIB)</p>
                        </div>
                        <div class="content-left-social">
                            <img class="footer-facebook-image" src="images/Facebook.png" alt="facebook-icon">
                            <img class="footer-facebook-image" src="images/Instagram.png" alt="instagram-icon">
                            <img class="footer-facebook-image" src="images/TwitterX.png" alt="twitterx-icon">
                            <img class="footer-facebook-image" src="images/LinkedIn.png" alt="linkedin-icon">    
                        </div>
                    </div>
                    <div class="content-middle">
                        <p class="footer-subheading">Contact</p>
                        <p class="footer-text">Jl. Shangrila Raya No.48A, RT.6/RW.3, 
                            Petukangan Sel., Kec. Pesanggrahan, 
                            Kota Jakarta Selatan, Daerah 
                            Khusus Ibukota Jakarta 12270</p>
                        <p class="footer-subheading">Call Us Directly</p>
                        <p class="footer-text">021 - 22733343</p>
                        <p class="footer-subheading">Email Us Directly</p>
                        <p class="footer-text">info@dwisejahtera.com</p>
                    </div>
                    <div class="content-right">
                        <p class="footer-subheading">Service</p>
                        <p class="footer-text-service">Finance</p>
                        <p class="footer-text-service">Accounting</p>
                        <p class="footer-text-service">Tax</p>
                        <p class="footer-text-service">Feseability</p>
                        <p class="footer-text-service">Man Power</p>
                    </div>
                </div>
                <div class="Copyright-footer">
                    @Sarana Dwi Sejahtera 2023. All Rights Reserved.
                </div>
            </div>
            <img class="wa-image" src="images/wa_logo.png" alt="logo-icon">
        </Footer>
    </header>
</body>
</html>